Source: eta-printer-manager
Section: utils
Priority: optional
Maintainer: Pardus Developers <dev@pardus.org.tr>
Build-Depends: debhelper-compat (= 12), meson
Standards-Version: 4.5.0

Package: eta-printer-manager
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, python3, python3-gi, python3-cups, gir1.2-gtk-3.0, gir1.2-notify-0.7
Recommends: printer-driver-brlaser,
            printer-driver-brother,
            printer-driver-gutenprint,
            printer-driver-hpcups,
            printer-driver-all,
            foomatic-db-compressed-ppds
Description: Pardus ETAP Printer and Scanner Management Application
 Simple and modern GUI tool for managing printers and scanners in Pardus ETAP.