[Desktop Entry]
Name=Pardus Printers
Comment=Yazıcı ve Tarayıcı Yönetimi
Exec=pardus-printers
Icon=pardus-printers
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;HardwareSettings;